.backgroundImage {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('https://wallpaper.dog/large/20439461.jpg');
    height: 100%;
    width: 100%;
    background-color: black;
}
.arrowBack img{
    width: 80px;
    height: 90px;
    margin-right: 80%;
    margin-top: 2rem;
    margin-left: 2rem;
    border: solid rgba(255, 255, 255, 0.39) 2px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 10px;
}

.containerDetail {
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 40px;
    background: rgba(3, 3, 25, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 20px;
    border: none;
    margin: 5%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.imageDetail {
    height: 25rem;
    margin: 20px;
    display: flex;
    /* padding-left: 32%; */
    flex-direction: column;
}

.backgroundImage h1 {
    font-family: 'My Font Name';
    color: white;
    text-shadow: 5px 5px 10px black;
}

.containerDetails h3 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 10px
}

.containerDetails h4 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 10px;
}

.containerDetails p {
    margin: 5px;
}
.deleteGame{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
   border-radius: 7px;
   background-color: red;
   border: solid white;
   border-style: ridge white;
   color: azure;
    
}

.deleteGame:hover{
    background-color: black;
    color:white;
}