.containerCreated {
    background-image: url("https://rare-gallery.com/uploads/posts/4567857-star-wars-star-wars-battlefront-video-games-battlefields-science-fiction.png");
    height: 100vh;
  }

  .iconBack {
    width: 80px;
    height: 90px;
    margin-right: 80%;
    margin-top: 2rem;
    margin-left: 2rem;
    border: solid rgba(255, 255, 255, 0.39) 2px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 10px;
    transition: 0.5s;
  }
  .iconBack:hover{
    border: solid rgba(12, 255, 12, 0.651) 2px;
  }
  .videoo{

    
    width: fit-content;
    margin-left: 40rem;
    border: solid black 10px ;
    border-radius: 5%;
    text-align: center;
  }
  .congratulations {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top:38%;
    padding-bottom: 45px;
    padding-left: 40px;
    padding-right: 28px;
    left: 34%;
    /* padding: 10px; */
    font-size: 30px;
    width: 28%;
    background-color: black;
    color: beige;
    word-wrap: break-word;
    
    text-align: center;
  }
  

  @media only screen and (max-width: 768px) {
  .congratulations{
    /* top: 25%; */
    font-size: 16px;
    width: 27%;
   }

}