.div {
  padding: 1rem;
  margin-left: 3rem;
  width: 15rem;
  height: 23.5rem;
  margin-bottom: 1rem;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  backdrop-filter: blur(5px);
  display:grid;
}

.gen{
  font-family: 'Courier New', Courier, monospace;  
  color: black;
  text-align: center;
}

.name{
  text-align: center;
  color: black;
  text-overflow: ellipsis;
}
.imag{
  border-radius: 10%;
  width: 15rem;
  transition: transform .2s;
}
.imag.hover{
    transition: all ;
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(150%);
}

a{
  text-decoration: none;
}