
.paginado{
    background-color: rgb(214, 214, 214);
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: solid rgb(187, 187, 187) 2px;
    font-weight: bold;
    display: inline;
    border-radius: 1px;
    cursor: pointer;
    padding: 4px;
   padding-top: 3px;
   padding-bottom: 3px;
   transition: 0.8s;
}
.paginado:hover{
    background-color: rgba(116, 255, 81, 0.253);
    border: solid  rgb(0, 0, 0) 2px;
    border-radius: 2px;
}
@media only screen and (max-width: 768px) {
    .containerPaginado{
        position: relative;
        margin-left: 16%;
    }
}
@media screen and (max-width: 500px) {
    .containerPaginado{
        margin-left: 16%;
    }
}