.landingPage{
    background-image: url("https://store-images.s-microsoft.com/image/apps.40057.13982743944721264.aba8e5da-4441-4232-a0e1-21747a781f2b.0c0baeb1-555e-4ef5-af93-ca8b1bd633d7");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    height: 100vh;
    text-align: center;
    padding-top: 4rem;
}
.welcomeLanding{
    color: orange;
    font-size: large;
    animation: welcomeLanding-animation 1s steps(5, start) infinite;
        -webkit-animation: welcomeLanding-animation 1s steps(5, start) infinite;
}
@keyframes welcomeLanding-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes welcomeLanding-animation {
    to {
        visibility: hidden;
    }
}

.button,
.button:after {
    margin-top: 39%;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family:Arial, Helvetica;
  cursor: pointer;
  font-weight: bold;
  background-image: url("https://i.gifer.com/fxTQ.gif") ;
    background-size: cover;
    background-position-y: center;
  border: 0;
  color: black;
  border-radius: 30%;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button,
  .button:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}